body{
	font-family: 'Open Sans',sans-serif;
background-image: url(./background.jpg);
background-size: cover;
background-repeat: no-repeat;
}
#container{
	/* /* width: 1000px;
	height: 550px; */
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./bgImg.jpg);
    margin: 20px auto;	 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{
	width: 320px;
	height: 520px;
    /* background-color: #eaedef; */
    background-color:  rgba(147, 88, 120, 0.33);
    opacity: 0.8;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#app-name{
    width: inherit;
    font-size: 0.8rem;
    background-color:rgba(147, 88, 120, 0.33) ;
    opacity: 0.8;
    border: none;
    outline: none;
    color: white;
    
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #cecece;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
    font-size: 30px;
    color: white;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 10px;
	border-width: 0;
	font-weight: bold;
    font-size: 15px;
    
}
.number, .empty{
    /* background-color: #eaedef; */
    background-color: whitesmoke;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #cecece ; 
}
button:nth-child(8){
	font-size: 20px;
	background-color: #cecece;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #cecece;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #cecece;
}
button:nth-child(20){
	font-size: 20px;
	
}


.operator{
    background-color: #cecece ;
}
:hover.operator{
    background-color: #919191;
}
:hover.number{
    background-color:#cecece ;
}
.empty{
    visibility: hidden;
}